In [51]:
#self refers to objectself
class Student():
    #default value
    school = "GTU"

    #with following it is like contructor it takes at creating time
    def __init__(self,name,age,std_code):
        self.name = name
        self.age = age
        self.std_code = std_code

    #metods
    def print_info(self):
        print(f" name : {self.name},\n age : {self.age}")

In [53]:
student1 = Student("Halit",20,100)

In [55]:
student1.age

20

In [57]:
student1.age = 50

In [59]:
student1.age

50

In [61]:
student1.school

'GTU'

In [63]:
student1.school = "AAAL"

In [65]:
student1.school

'AAAL'

In [67]:
student1.print_info()

 name : Halit,
 age : 50

In [79]:
class Car():
    countary = "Germany"
    age = 0
    def __init__(self,year,brand = "Mercedes"):
        self.brand = brand
        self.year = year
        Car.age = 2025 - self.year
    def car_info(self):
        print(f"Car brand is {self.brand}, age is {2025-self.year}")

In [85]:
first_car = Car(1994)
first_car.year

1994

In [87]:
first_car.car_info()

Car brand is Mercedes, age is 31

In [89]:
first_car.age

31

In [93]:
#inheritance

In [113]:
class C1():
    def __init__(self):
        print("C1 object created")
    def metod1(self):
        print("metod 1")
    def metod2(self):
        print("metod 2")

In [125]:
class C2(C1):
    def __init__(self):
        print("C2 object created")
        C1.__init__(self)
    def metod3(self):
        print("metod3")

    def metod1(self):
        print("new version of etod1 in C2")

In [127]:
c1_obj = C1()

C1 object created

In [129]:
c2_obj = C2()

C2 object created
C1 object created

In [131]:
c2_obj.metod2()

metod 2

In [133]:
c1_obj.metod1()
c2_obj.metod1()

metod 1
new version of etod1 in C2

In [137]:
#polymorphism

In [167]:
class Apple():
    def __init__(self,name):
        self.name = name
        self.calories = 100
    def cal(self):
        print(f"{self.name} has {self.calories}")

In [169]:
class Banana():
    def __init__(self,name):
        self.name = name
        self.calories = 200
    def cal(self):
        print(f"{self.name} has {self.calories}")

In [171]:
apple = Apple("apple")

In [173]:
banana = Banana("banana")

In [175]:
apple.cal()
banana.cal()

apple has 100
banana has 200

In [177]:
fruit_list = [banana,apple]

In [179]:
for fruit in fruit_list:
    fruit.cal()

banana has 200
apple has 100